<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.BizLessonAssignmentMapper">
    
    <resultMap type="BizLessonAssignment" id="BizLessonAssignmentResult">
        <result property="assignmentId"    column="assignment_id"    />
        <result property="lessonId"    column="lesson_id"    />
        <result property="entryYear"    column="entry_year"    />
        <result property="classCode"    column="class_code"    />
        <result property="assignerId"    column="assigner_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="assignTime"    column="assign_time"    />
        <result property="autoAdvanceReadyTime" column="auto_advance_ready_time" />
    </resultMap>

    <sql id="selectBizLessonAssignmentVo">
        select assignment_id, lesson_id, entry_year, class_code, assigner_id, dept_id, assign_time,
               auto_advance_ready_time from biz_lesson_assignment
    </sql>

    <select id="selectBizLessonAssignmentList" parameterType="BizLessonAssignment" resultMap="BizLessonAssignmentResult">
        <include refid="selectBizLessonAssignmentVo"/>
        <where>  
            <if test="lessonId != null "> and lesson_id = #{lessonId}</if>
            <if test="entryYear != null  and entryYear != ''"> and entry_year = #{entryYear}</if>
            <if test="classCode != null  and classCode != ''"> and class_code = #{classCode}</if>
            <if test="assignTime != null "> and assign_time = #{assignTime}</if>
        </where>
    </select>
    
    <select id="selectBizLessonAssignmentByAssignmentId" parameterType="Long" resultMap="BizLessonAssignmentResult">
        <include refid="selectBizLessonAssignmentVo"/>
        where assignment_id = #{assignmentId}
    </select>

    <insert id="insertBizLessonAssignment" parameterType="BizLessonAssignment" useGeneratedKeys="true" keyProperty="assignmentId">
        insert into biz_lesson_assignment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lessonId != null">lesson_id,</if>
            <if test="entryYear != null and entryYear != ''">entry_year,</if>
            <if test="classCode != null and classCode != ''">class_code,</if>
            <if test="assignerId != null">assigner_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="assignTime != null">assign_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lessonId != null">#{lessonId},</if>
            <if test="entryYear != null and entryYear != ''">#{entryYear},</if>
            <if test="classCode != null and classCode != ''">#{classCode},</if>
            <if test="assignerId != null">#{assignerId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="assignTime != null">#{assignTime},</if>
         </trim>
    </insert>

    <update id="updateBizLessonAssignment" parameterType="BizLessonAssignment">
        update biz_lesson_assignment
        <trim prefix="SET" suffixOverrides=",">
            <if test="lessonId != null">lesson_id = #{lessonId},</if>
            <if test="entryYear != null and entryYear != ''">entry_year = #{entryYear},</if>
            <if test="classCode != null and classCode != ''">class_code = #{classCode},</if>
            <if test="assignerId != null">assigner_id = #{assignerId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="assignTime != null">assign_time = #{assignTime},</if>
        </trim>
        where assignment_id = #{assignmentId}
    </update>

    <delete id="deleteBizLessonAssignmentByAssignmentId" parameterType="Long">
        delete from biz_lesson_assignment where assignment_id = #{assignmentId}
    </delete>

    <delete id="deleteBizLessonAssignmentByAssignmentIds" parameterType="String">
        delete from biz_lesson_assignment where assignment_id in 
        <foreach item="assignmentId" collection="array" open="(" separator="," close=")">
            #{assignmentId}
        </foreach>
    </delete>

    <!-- 新增：根据课程ID查询所有被指派的班级编号 -->
    <select id="selectClassCodesByLessonIdAndEntryYear" resultType="java.lang.String">
        SELECT DISTINCT class_code
        FROM biz_lesson_assignment
        WHERE lesson_id = #{lessonId}
          AND entry_year = #{entryYear}
        ORDER BY CAST(class_code AS UNSIGNED) ASC, class_code ASC
    </select>

    <select id="selectAssignmentsByLessonIds" resultMap="BizLessonAssignmentResult">
        <include refid="selectBizLessonAssignmentVo"/>
        WHERE dept_id = #{deptId}
          AND lesson_id IN
          <foreach collection="lessonIds" item="lessonId" open="(" separator="," close=")">
              #{lessonId}
          </foreach>
        ORDER BY lesson_id, CAST(class_code AS UNSIGNED), class_code
    </select>

    <!-- 新增：根据课程ID删除所有指派记录 -->
    <delete id="deleteByLessonId" parameterType="java.lang.Long">
        DELETE FROM biz_lesson_assignment WHERE lesson_id = #{lessonId}
    </delete>

    <!-- 新增：批量新增课程指派记录 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO biz_lesson_assignment (lesson_id, entry_year, class_code, assigner_id, dept_id, assign_time) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.lessonId}, #{item.entryYear}, #{item.classCode}, #{item.assignerId}, #{item.deptId}, #{item.assignTime})
        </foreach>
    </insert>

    <!-- 新增：班级互斥 - 删除其他课程中该班级的指派（保证一个班级只对应一个当前课程） -->
    <delete id="deleteOtherAssignmentsByClass">
        DELETE FROM biz_lesson_assignment 
        WHERE entry_year = #{entryYear} 
          AND class_code = #{classCode}
          AND dept_id = #{deptId}
          AND lesson_id != #{currentLessonId}
    </delete>

    <!-- 新增：根据学生的入学年份,班级和学校查询当前被指派的课程 -->
    <select id="selectCurrentLessonByClass" resultType="java.lang.Long">
        SELECT la.lesson_id 
        FROM biz_lesson_assignment la
        WHERE la.entry_year = #{entryYear} 
          AND la.class_code = #{classCode}
          AND la.dept_id = #{deptId}
        ORDER BY la.assign_time DESC, la.assignment_id DESC
        LIMIT 1
    </select>

    <select id="selectAssignmentsByLessonId" resultMap="BizLessonAssignmentResult">
        <include refid="selectBizLessonAssignmentVo"/>
        where lesson_id = #{lessonId}
        order by entry_year, class_code
    </select>

    <select id="selectCurrentAssignmentForUpdate" resultMap="BizLessonAssignmentResult">
        <include refid="selectBizLessonAssignmentVo"/>
        where entry_year = #{entryYear}
          and class_code = #{classCode}
          and dept_id = #{deptId}
        limit 1
        for update
    </select>

    <update id="advanceCurrentAssignment">
        update biz_lesson_assignment
        set lesson_id = #{nextLessonId},
            assigner_id = #{assignerId},
            assign_time = #{assignTime},
            auto_advance_ready_time = null
        where assignment_id = #{assignmentId}
          and lesson_id = #{currentLessonId}
    </update>

    <update id="markAutoAdvanceReady">
        update biz_lesson_assignment
        set auto_advance_ready_time = #{readyTime}
        where assignment_id = #{assignmentId}
          and auto_advance_ready_time is null
    </update>

    <update id="clearAssignmentReadyTime">
        update biz_lesson_assignment
        set auto_advance_ready_time = null
        where assignment_id = #{assignmentId}
          and auto_advance_ready_time is not null
    </update>

    <update id="clearReadyTimesByTeacher">
        update biz_lesson_assignment a
        inner join biz_lesson l on l.lesson_id = a.lesson_id
        set a.auto_advance_ready_time = null
        where l.dept_id = #{deptId}
          and (l.creator_id = #{teacherId} or (l.creator_id is null and l.create_by = #{creatorName}))
          and ifnull(l.lesson_mode, 'assessment') &lt;&gt; 'attendance'
    </update>

    <insert id="insertAdvanceHistory">
        insert into biz_lesson_assignment_history
            (assignment_id, lesson_id, next_lesson_id, entry_year, class_code, dept_id,
             assigner_id, assigned_time, advanced_by, advance_source, advanced_time)
        values
            (#{assignment.assignmentId}, #{assignment.lessonId}, #{nextLessonId},
             #{assignment.entryYear}, #{assignment.classCode}, #{assignment.deptId},
             #{assignment.assignerId}, #{assignment.assignTime}, #{advancedBy},
             #{advanceSource}, #{advancedTime})
    </insert>

    <select id="countRecentAdvanceHistory" resultType="int">
        select count(1)
        from biz_lesson_assignment_history
        where (lesson_id = #{lessonId} or next_lesson_id = #{lessonId})
          and entry_year = #{entryYear}
          and class_code = #{classCode}
          and dept_id = #{deptId}
          and advanced_time &gt;= #{advancedAfter}
    </select>

    <select id="countHistoricalAssignment" resultType="int">
        select count(1)
        from biz_lesson_assignment_history
        where lesson_id = #{lessonId}
          and entry_year = #{entryYear}
          and class_code = #{classCode}
          and dept_id = #{deptId}
    </select>

</mapper>
